body {
    background-color: white;
    min-height: 100vh;
}

.catalogue-header {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--space-cadet-color);
    font-family: "Open Sans";
}

.catalogue-header .courses {
    text-align: center;
}

.catalogue-header h1,
h2,
h3,
h4 {
    font-family: "Maven Pro";
    margin-top: 0;
}

.catalogue-header h1 {
    font-size: 32px;
    text-align: left;
}

.catalogue-header p {
    font-size: 14px;
    color: darkgray;
    text-align: left;
    padding: .2em .2em 0 0;
}

.catalogue-header .page-title h1 {
    font-size: 64px;
    text-align: center;
}

.catalogue-header .section-title h2 {
    padding-top: 1em;
    text-align: left;
}

.catalogue-content {
    padding: 2em 1em;
    position: relative;
    text-align: left;
    display: inline-block;
    width: 80%;
    background-color: var(--baby-powder-color);
}

.catalogue-header .course-info {
    background-color: white;
    margin: 1em;
    padding: 1em 2em;
    width: 400px;
    display: inline-block;
    border-radius: var(--border-radius-1);
}

.catalogue-header .course-info2 {
    background-color: white;
    margin: 1em;
    padding: 1em 2em;
}

.catalogue-header p {
    color: dimgrey;
    /* color: var(--space-cadet-color);*/
}

.catalogue-header .lead {
    font-size: 18px;
}

.catalogue-header .button {
    color: var(--eucalyptus-color);
    border: 0em;
    margin: 0;
    width: auto;
}

.catalogue-header .button:hover {
    color: var(--dogwood-color);
    border: 0em;
    margin: 0;
}

.catalogue-header hr {
    border-color: var( --eucalyptus-color);
    margin: 0em;
}

.catalogue-header .btn-read-more {
    font-size: 22px;
}

.catalogue-header .course-info-header {
    padding-top: .2em;
}

.catalogue-header .course-img {
    padding-bottom: 1em;
}

@media only screen and (max-width: 1100px) {
    .catalogue-header .course-info {
        width: auto;
    }
}