.wrapper {
    margin: 65px 0px 0px 0px;
    position: absolute;
    width: 100%;
    padding: 20px 40px;
}

.list-group {
    position: fixed;
}

.list-group-item.active,
.list-group-item.active:focus {
    background-color: var(--eucalyptus-color);
    color: var(--baby-powder-color);
}

.list-group-item.active:hover {
    color: var(--yellow-color);
}