.wrapper {
    margin: 65px 0px 0px 0px;
    position: absolute;
    width: 100%;
    padding: 20px 40px;
}

.instructor-btn {
    background-color: var(--tea-rose-color);
    border-color: var(--tea-rose-color);
    color: var(--space-cadet-color);
    border-radius: 5px;
    box-shadow: none;
}

.instructor-btn:hover {
    border-color: var(--dogwood-color);
    background-color: var(--dogwood-color);
    color: var(--baby-powder-color);
}

.instructor-modal {
    padding: 20px;
}


/*************************** side-bar ****************************/

.list-group {
    position: fixed;
}

.list-group-item.active,
.list-group-item.active:focus {
    background-color: var(--eucalyptus-color);
    color: var(--baby-powder-color);
    border-color: var(--eucalyptus-color)
}

.list-group-item.active:hover {
    background-color: var(--eucalyptus-color);
    border-color: var(--eucalyptus-color);
    color: var(--yellow-color);
}


/*************************** survey ****************************/
.label-questions {
    display: block;
    clear: both;
    font-size: 15pt
}