:root {
    --space-cadet-color: #1D2051;
    --baby-powder-color: #FCFCFC;
    --eucalyptus-color: #3DDC97;
    --pastel-red-color: #EF6461;
    --tea-rose-color: #F2CCC3;
    --yellow-color: #FFD401;
    --dogwood-color: #D90368;
}


/**************************** navbar *****************************/
#nav-top {
    min-height: 60px;
    background-color: var(--space-cadet-color);
    color: var(--baby-powder-color);
    font-size: 16pt;
    font-family: "Maven Pro";
    width: 100%;
    margin-bottom: 0px;
    border-bottom: transparent;
    border-radius: 0px;
}

.navbar-default {
    border-color: transparent;
}

#uib-overrides-nav,
.icon-account-circle,
.icon-caret,
#icon-search {
    color: var(--baby-powder-color);
}

#uib-overrides-nav>li>a:hover,
#nav-profile>li>a:hover,
.icon-account-circle:hover,
.icon-account-circle:focus,
.icon-caret:hover,
.icon-caret:focus {
    color: var(--eucalyptus-color);
}


/**************************** Logo *****************************/
.img-logo {
    width: 60px;
    height: 60px;
    margin-top: -15px;
    margin-bottom: 0px;
}

#img-logo-text {
    width: 200px;
}


/**************************** Menu *****************************/
#uib-overrides-nav {
    margin-left: 5%;
}

#uib-overrides-nav>li>a{
    color: var(--baby-powder-color);

}

.nav-li {
    margin: 0px 20px;
}

.nav>.nav-li>a {
    margin: 0px 10px;
}

.uib-overrides-nav-a {
    padding: 20px 0px;
    text-align: center;
    transition: 0.5s ease;
    margin: 0 20px;
    border-top: 3px solid var(--space-cadet-color);
    border-bottom: 3px solid var(--space-cadet-color);
}

.uib-overrides-nav-a:before {
    top: 0px;
    transform: translateY(-10px);
}

.uib-overrides-nav-a:after {
    bottom: 0px;
    transform: translateY(10px);
}

.uib-overrides-nav-a:before,
.uib-overrides-nav-a:after {
    opacity: 1;
    transform: translateY(0px);
}

.nav-li>.uib-overrides-nav-a:hover {
    color: var(--baby-powder-color);
    border-top: 4px solid var(--baby-powder-color);
    border-bottom: 4px solid var(--baby-powder-color);
    padding: 5px 10px;
    margin: 10px 15px;
}

.nav>.nav-li>.active,
#uib-overrides-nav>li>.active,
#uib-overrides-nav>li>.active:focus,
#uib-overrides-nav>li>.active:hover
{
    color: var(--baby-powder-color);
    border-top: 3px solid var(--dogwood-color);
    border-bottom: 3px solid var(--dogwood-color);
    padding: 5px 10px;
    margin: 10px 15px;
}




/**************************** Search *****************************/
#form-search {
    position: absolute;
    margin-left: 60%;
    bottom: 4px;
}

#search-input {
    width: 200px;
}

#button-search {
    background-color: var(--space-cadet-color);
    border-color: transparent;
}

#icon-search:hover {
    color: var(--eucalyptus-color);
}


/**************************** Profile *****************************/
#nav-profile {
    float: right;
    position: absolute;
    margin-left: 13%;
}

#button-profile {
    border: transparent;
}

#uib-overrides-dropdown-profile {
    min-width: 120px;
    left: -50px;
    top: 45px;
    border-radius: 5px;
}

.nav .open>#button-profile,
.nav .open>#button-profile:hover,
.nav .open>#button-profile:focus{
    background-color: var(--space-cadet-color)
}

#button-profile:hover>.icon-account-circle,
#button-profile:hover>.icon-caret,
.nav .open>#button-profile,
.nav .open>a>.icon-account-circle,
.nav .open>a>.icon-caret{
    color: var(--eucalyptus-color)
}


/**************************** Footer *****************************/
.container-footer {
    min-height: 60px;
    background-color: var(--space-cadet-color);
    color: var(--tea-rose-color);
    font-family: "Open Sans";
    text-align: center;
    width: 100%;
}

.footer-div-center {
    width: 70%;
    margin: 0 auto;
}

.footer-ul {
    list-style-type: none;
}

.footer-li {
    float: left;
}

.footer-li a,
.footer-li span {
    display: block;
    color: var(--tea-rose-color);
    text-decoration: none;
    padding: 16px 40px;
}

.footer-li a:hover {
    color: var(--yellow-color);
}

#footer-line {
    width: 90%;
}