/**************************** navbar *****************************/
#nav-top {
    min-height: 60px;
    background-color: var(--space-cadet-color);
    color: var(--baby-powder-color);
    font-size: 16pt;
    font-family: "Maven Pro";
    width: 100%;
    margin-bottom: 0px;
    border-bottom: transparent;
    border-radius: 0px;
}

.navbar-default {
    border-color: transparent;
}

#uib-overrides-nav,
.icon-account-circle,
.icon-caret,
#icon-search {
    color: var(--baby-powder-color);
}

#uib-overrides-nav>li>a:hover,
#nav-profile>li>a:hover,
.icon-account-circle:hover,
.icon-account-circle:focus,
.icon-caret:hover,
.icon-caret:focus {
    color: var(--eucalyptus-color);
}


/**************************** Logo *****************************/
.img-logo {
    width: 60px;
    height: 60px;
    margin-top: -15px;
    margin-bottom: 0px;
}

#img-logo-text {
    width: 200px;
}


/**************************** Menu *****************************/
#uib-overrides-nav {
    margin-left: 5%;
}

#uib-overrides-nav>li>a{
    color: var(--baby-powder-color);

}

.nav-li {
    margin: 0px 20px;
}

.nav>.nav-li>a {
    margin: 0px 10px;
}

.uib-overrides-nav-a {
    padding: 20px 0px;
    text-align: center;
    transition: 0.5s ease;
    margin: 0 20px;
    border-top: 3px solid var(--space-cadet-color);
    border-bottom: 3px solid var(--space-cadet-color);
}

.uib-overrides-nav-a:before {
    top: 0px;
    transform: translateY(-10px);
}

.uib-overrides-nav-a:after {
    bottom: 0px;
    transform: translateY(10px);
}

.uib-overrides-nav-a:before,
.uib-overrides-nav-a:after {
    opacity: 1;
    transform: translateY(0px);
}

.nav-li>.uib-overrides-nav-a:hover {
    color: var(--baby-powder-color);
    border-top: 4px solid var(--baby-powder-color);
    border-bottom: 4px solid var(--baby-powder-color);
    padding: 5px 10px;
    margin: 10px 15px;
}

.nav>.nav-li>.active,
#uib-overrides-nav>li>.active,
#uib-overrides-nav>li>.active:focus,
#uib-overrides-nav>li>.active:hover
{
    color: var(--baby-powder-color);
    border-top: 3px solid var(--dogwood-color);
    border-bottom: 3px solid var(--dogwood-color);
    padding: 5px 10px;
    margin: 10px 15px;
}




/**************************** Search *****************************/
#form-search {
    position: absolute;
    margin-left: 60%;
    bottom: 4px;
}

#search-input {
    width: 200px;
}

#button-search {
    background-color: var(--space-cadet-color);
    border-color: transparent;
}

#icon-search:hover {
    color: var(--eucalyptus-color);
}


/**************************** Log In Button *****************************/
.nav-log-in {
    right: 0%;
    position: absolute;
}

#button-log-in {
    background: var(--space-cadet-color);
    padding: 5px 0px;
    margin: 5px -5px;
    text-transform: inherit;
    font-family: 'Maven Pro';
    font-size: 15pt;
}

#button-log-in:hover{
    color: var(--eucalyptus-color);
    text-decoration: none;
}



/**************************** Login/register *****************************/

.md-toolbar-tools>h2 {
    font-family: 'Maven Pro';
    font-size: 20pt;
}

.dialog {
    min-width: 500px;
    font-family: "Open Sans";
}

.span-error {
    color: var(--dogwood-color);
}

#btn-login,
#btn-register{
    float: right;
}

#Dob {
    height: 45px;
}

#Dob>.md-datepicker-button {
    margin: -2px 0px 0px 0px;
}

#Dob>.md-datepicker-input-container {
    width: 300px;
}

#Dob>.md-datepicker-input-container>.md-datepicker-triangle-button {
    left: 110%;
    margin-top: 2px;
}




/**************************** Profile *****************************/
#nav-sign-in {
    float: left;
    position: absolute;
    margin-left: 85%;
    margin-top: 10px;
}

#div-sign-in>.abcRioButtonLightBlue {
    background-color: transparent;
    color: var(--eucalyptus-color);
    border: 2px dashed var(--eucalyptus-color);
}

span.abcRioButtonContents {
    font-size: 12pt;
    margin-left: -5px;
}

.abcRioButtonContentWrapper>.abcRioButtonContents {
    font-family: "Maven Pro";
    font-size: 12pt;
}

.btn-profile {
    background: transparent;
    border-color: transparent;
    color: var(--baby-powder-color);
}

.btn-profile:hover {
    background: transparent;
    border-color: transparent;
    color: var(--baby-powder-color);
}

#uib-overrides-caret {
    border-top-color: var(--baby-powder-color);
    margin-top: 25px;
    left: 80px;
}

#uib-overrides-caret:hover {
    border-top-color: var(--baby-powder-color);
}

#uib-overrides-profile-a,
#uib-overrides-profile-a:hover{
    background: transparent;
}

.user-dropdown {
    background: var(--space-cadet-color);
}

.dropdown-menu {
    left: -20px;
}

.menu-item {
    margin: 3px 25px;
    font-size: 12pt;
    line-height: 20px;
    left: 50px;
    color: var(--baby-powder-color);
}

.menu-item>.menu-item-a {
    color: var(--baby-powder-color);
    padding: inherit;
}

.menu-item>.menu-item-a:hover {
    background-color: transparent;
    color: var(--eucalyptus-color);
    background-image: none;
}

#nav-profile {
    float: left;
    position: absolute;
    margin-left: 90%;
}

#button-profile {
    border: transparent;
}




/**************************** Footer *****************************/
.container-footer {
    min-height: 60px;
    background-color: var(--space-cadet-color);
    color: var(--tea-rose-color);
    font-family: "Open Sans";
    text-align: center;
    width: 100%;
}

.footer-div-center {
    width: 70%;
    margin: 0 auto;
}

.footer-ul {
    list-style-type: none;
    display: inline-flex;
}

.footer-li {
    float: left;
}

.footer-li a,
.footer-li span {
    display: block;
    color: var(--tea-rose-color);
    text-decoration: none;
    padding: 16px 40px;
}

.footer-li a:hover {
    color: var(--yellow-color);
}

#footer-line {
    width: 90%;
}