body{
    background-color: var(--space-cadet-color);
    min-height: 100vh;
}

.nd-header{
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--space-cadet-color);
}

.nd-content{
    padding: 6em 1em;
    position: relative;
    text-align: left;
    display: inline-block;
    width: 80%;
    background-color: var(--baby-powder-color);
}

.nd-content .news{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.nd-content .news h1{
    padding: 0em 1em;
}

.nd-content .news h2, p{
    padding: 0em 2em;
}

.nd-content .article{
    float: left;
    width: 75%;
    border: solid thin #EEEEEE;
}
.nd-content .suggestions{
    border: solid thin #EEEEEE;
    width: 20%;
    text-align: center;
}

.nd-content .social{
    padding-left: 2em;
}
