:root {
    --space-cadet-color: #1D2951;
    --baby-powder-color: #FCFCFC;
    --eucalyptus-color: #3DDC97;
    --pastel-red-color: #EF6461;
    --tea-rose-color: #F2CCC3;
    --yellow-color: #FFD401;
    --dogwood-color: #D90368;
    --fadein-time: 2s;
    --border-radius-1: 5px;
    --page-width: 90%;
}


/*---------------- HTML WRAPPERS ----------------*/

.navbar-wrapper {
    position: fixed;
    width: 99vw;
    z-index: 1;
}

.footer-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
}


/*---------------- BUTTONS ----------------*/

.button {
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid var(--baby-powder-color);
    color: var(--baby-powder-color);
    text-align: center;
    padding: .3em 0;
    min-width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1.5em;
    margin-top: 0;
    font-size: 18px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button:hover {
    color: var(--baby-powder-color);
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/* PADDING */

.ps-feature-header header {
    padding: 2em 0;
}


/* ALIGNMENT CLASSES */

.center {
    text-align: center;
}

.center img {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


/* PAGE BANNER */

.page-banner {
    position: relative;
}

.page-banner img {
    text-align: center;
    width: 100vw
}

.page-banner .absolute-text {
    /* background: rgba(251, 251, 251, 0.5);*/
    width: 100%;
    text-align: center;
    color: white;
    font-size: 64px;
    position: absolute;
    top: 35%;
    height: 65%;
}


/* DETAIL */

hr {
    border-color: var( --eucalyptus-color);
    margin: 0em;
}