        <div id="about-html">
            <div id="about-psychspace" class="about-site fadein">
                <h1>About PsychSpace</h1>
                <div class="content-ct about">
                    <div class="feature fadein">
                        <p class="fadein">PsychSpace provides an online self-learning tool for adults to develop healthy habits. This
                            tool will enable users to understand the science behind self-motivation, turning ambitions
                            into accomplishments, correcting bad habits, and maintaining new routines. Users can sign up
                            as students and select courses that would help them create or correct specific habits. As
                            part of an effort to promote cyberlearning, PsychSpace helps students manage their
                            self-enrolled topics, keep track of their progress during the learning period, communicate
                            with peers, and receive personalized feedback from instructors proficient in psychology
                            and self-help techniques.
                        </p>
                        <a class="button anchor-link fadein" id="button-about-company" href="#about-spacecadet"><span>More About Space Cadet</span></a>
                    </div>
                </div>
            </div>
            <div id="about-spacecadet" class="about-company fadein">
                <h1 class="fadein">Team Space Cadet</h1>
                <div class="content-ct speaker" id="speakers">
                    <div class="feature fadein">
                        <img src="${contextPath}/resources/img/captain_rapunzel_icon.jpg" class="speaker-img fadein">
                        <h2 class="fadein">Celesta Ma</h2>
                        <h3 class="fadein">Lead Programmer</h3>
                        <p class="fadein">She is a Computer Science major with HCI specialization. Celeste has worked with startup
                            companies and Research Foundation for SUNY for full stack development. She is trained at
                            developing user friendly interfaces and web development.</p>
                        <!--<ul class="speaker-social">
                            <li><a href="#"><span class="ti-linkedin"></span></a></li>
                            <li><a href="#"><span class="ti-github"></span></a></li>
                        </ul>-->
                    </div>
                    <div class="feature fadein">
                        <img src="${contextPath}/resources/img/captain_bunny_icon.jpg" class="speaker-img fadein">
                        <h2>Angela Liao</h2>
                        <h3>Project Manager</h3>
                        <p>Pursuing a Bachelor's in Computer Science and Applied Math and Statistics at Stony Brook
                            University. Angela is a former intern and a prospective employee at Amazon.com. She is
                            proficient in team organization and project specification development.</p>
                    </div>
                    <div class="feature fadein">
                        <img src="${contextPath}/resources/img/captain_teddy_icon.jpg" class="speaker-img fadein">
                        <h2>Marlene Shankar</h2>
                        <h3>Data Designer</h3>
                        <p>Pursuing a Bachelor's in Computer Science and Biochemistry at Stony Brook University.
                            Marlene is a former game programming and Chemistry storyline intern for the Smithsonian.
                            She is proficient in relational databases and backend development.</p>
                    </div>
                    <div class="feature fadein">
                        <img src="${contextPath}/resources/img/commander_foo_icon.jpg" class="speaker-img fadein">
                        <h2>Andrea Cerini</h2>
                        <h3>Lead Designer</h3>
                        <p>A Computer Science student with a focus in Digital Arts at Stony Brook University.
                            Andrea has over 10 years of experience both professionally and personally in digital arts,
                            having worked as a graphics designer and her art has been featured in many exhibitions.
                            She is proficient in many design applications such as Adobe Photoshop and Illustrator.</p>
                    </div>
                </div>
            </div>
        </div>