<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                PsychSpace Admin
            </a>
        </li>
        <li>
            <a href="${contextPath}/admin_addArticle">Add Article</a>
        </li>
        <li>
            <a href="${contextPath}/admin_editArticle">Edit Article</a>
        </li>
        <li>
            <a href="${contextPath}/admin_deleteArticle">Delete Article</a>
        </li>
        <li>
            <a href="${contextPath}/admin_addCourse">Add Course</a>
        </li>
        <li>
            <a href="#">Delete Comment</a>
        </li>
        <li>
            <a href="#">Delete User</a>
        </li>
        <li>
            <a href="#">Delete Course</a>
        </li>
    </ul>
</div>
