<header class="ps-feature-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">Course Catalogue</h1>
        <form class="ps-search">
            <input type="text" name="search" placeholder="Search...">
        </form>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1>Open Courses<hr></h1>
                <br>
            </div>

            <div class="row ps-text-content">
                <!-- start course -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                        <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                        <br>
                        <h3 class="ps-feature-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                        <br>
                        <!-- Topic -->
                        <h3 class="ps-feature-info-header"> Topics <hr></h3>
                        <p class="ps-feature-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <br>

                        <div>
                            <div class="center">
                                <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                                <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1> All Courses<hr></h1>
                <br>
            </div>
            <div class="row ps-text-content">
                <!-- start course -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                        <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                        <br>
                        <h3 class="ps-feature-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                        <br>
                        <!-- Topic -->
                        <h3 class="ps-feature-info-header"> Topics <hr></h3>
                        <p class="ps-feature-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <br>

                        <div>
                            <div class="center">
                                <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                                <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>

    </div>
</header>