<header class="catalogue-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">Course Catalogue</h1>
    </div>
    <div class="catalogue-content">

        <div class="section-title fadein">
            <h2>Open Courses</h2>
            <hr>
        </div>
        <div class="row courses">
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">

                    <div class="left">
                        <h3 class="course-info-header"> Status <hr></h3>
                        <p>
                            <span class="glyphicon glyphicon-check"></span> Open / In Progress / Finished
                        </p>
                        <h3 class="course-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Description <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    </div>
                </div>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">

                    <div class="left">
                        <h3 class="course-info-header"> Status <hr></h3>
                        <p>
                            <span class="glyphicon glyphicon-check"></span> Open / In Progress / Finished
                        </p>
                        <h3 class="course-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Description <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    </div>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">

                    <div class="left">
                        <h3 class="course-info-header"> Status <hr></h3>
                        <p>
                            <span class="glyphicon glyphicon-check"></span> Open / In Progress / Finished
                        </p>
                        <h3 class="course-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Description <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    </div>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">

                    <div class="left">
                        <h3 class="course-info-header"> Status <hr></h3>
                        <p>
                            <span class="glyphicon glyphicon-check"></span> Open / In Progress / Finished
                        </p>
                        <h3 class="course-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Description <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    </div>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">

                    <div class="left">
                        <h3 class="course-info-header"> Status <hr></h3>
                        <p>
                            <span class="glyphicon glyphicon-check"></span> Open / In Progress / Finished
                        </p>
                        <h3 class="course-info-header"> Dates<hr> </h3>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Description <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    </div>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                </div>
            </div>
            <!-- end course-info-->
        </div>
    </div>
</header>