<header class="ps-feature-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">Home</h1>
    </div>
    <div class="row ps-feature-content">
        <div class="col-lg-8 ps-col-left">
            <div class="row ps-feature">
                <div class="ps-feature-info">
                    <!-- Title -->
                    <h1>My Current Courses<hr></h1>
                    <br>
                </div>
                <!-- Start Course -->
                <div class="row ps-text-content">
                    <!-- start course -->
                    <div class="col-lg-4">
                        <div class="ps-well">
                            <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                            <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                            <br>
                            <!-- Topic -->
                            <h3 class="ps-feature-info-header"> Topics <hr></h3>
                            <p class="ps-feature-preview">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <div>
                                <div class="center">
                                    <a class="button fadein btn-read-more" id="button-learn" href=""><span>Learn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End course -->
                    <!-- start course -->
                    <div class="col-lg-4">
                        <div class="ps-well">
                            <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                            <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                            <br>
                            <!-- Topic -->
                            <h3 class="ps-feature-info-header"> Topics <hr></h3>
                            <p class="ps-feature-preview">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <div>
                                <div class="center">
                                    <a class="button fadein btn-read-more" id="button-learn" href=""><span>Learn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End course -->
                    <!-- start course -->
                    <div class="col-lg-4">
                        <div class="ps-well">
                            <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                            <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                            <br>
                            <!-- Topic -->
                            <h3 class="ps-feature-info-header"> Topics <hr></h3>
                            <p class="ps-feature-preview">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <div>
                                <div class="center">
                                    <a class="button fadein btn-read-more" id="button-learn" href=""><span>Learn</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End course -->
                </div>

            </div>
            <br>
            <div class="row ps-feature">
                <div class="ps-feature-info">
                    <!-- Title -->
                    <h1> Popular Courses<hr></h1>
                    <br>
                </div>

                <div class="row ps-text-content">
                    <!-- start course -->
                    <div class="col-lg-4">
                        <div class="ps-well">
                            <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                            <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                            <br>
                            <h3 class="ps-feature-info-header"> Dates<hr> </h3>
                            <p>
                                <span class="glyphicon glyphicon-time"></span> Start Date: March 31, 2017 at 12:00 AM</p>
                            <p>
                                <span class="glyphicon glyphicon-time"></span> End Date: May 31, 2017 at 11:59 PM
                            </p>
                            <br>
                            <!-- Topic -->
                            <h3 class="ps-feature-info-header"> Topics <hr></h3>
                            <p class="ps-feature-preview">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <br>

                            <div>
                                <div class="center">
                                    <a class="button fadein btn-read-more" id="button-read-more" href=""><span>Read More</span></a>
                                    <a class="button fadein btn-read-more" id="button-enroll" href=""><span>Enroll</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>
        <!-- end column -->
        <div class="col-lg-4 ps-col-right">

            <div class="left">
                <h1>Recommended Articles<hr></h1>
            </div>
            <div class="ps-well">
                <div class="left">
                    <h2 class="ps-feature-info-header"> Article Title <hr></h2>
                    <div class="center">
                        <img class="ps-feature-img img-responsive" src="http://placehold.it/900x300" alt="">
                        <a class="button fadein btn-read-more" id="button-read" href=""><span>Read More</span></a>
                    </div>
                </div>
                <br>
                <div class="left">
                    <h2 class="ps-feature-info-header"> Article Title <hr></h2>
                    <div class="center">
                        <img class="ps-feature-img img-responsive" src="http://placehold.it/900x300" alt="">
                        <a class="button fadein btn-read-more" id="button-read" href=""><span>Read More</span></a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</header>