<header class="learn-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">Home</h1>
    </div>
    <div class="learn-content">

        <div class="section-title fadein">
            <h2>My Active Courses</h2>
            <hr>
        </div>
        <div class="row courses">
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
        </div>
        <!-- end my-current-courses-->
        <!-- start my-past-courses-->
        <div class="section-title fadein">
            <h2>Popular Courses</h2>
            <hr>
        </div>
        <div class="row courses">
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
            <!-- Start course-info -->
            <div class="course-info fadein">
                <div class="row course-title">
                    <h1>Course Title:</h1>
                    <p>
                        Instructor <a class="button fadein" href="#"><span>Joe Doe</span></a>
                    </p>
                    <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                </div>
                <div class="row">
                    <div class="left">
                        <h3 class="course-info-header"> Topics <hr> </h3>
                        <p class="course-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <br>
                <div class="row center">
                    <a class="button fadein btn-read-more" id="button-select" href=""><span>Select</span></a>
                </div>
            </div>
            <!-- end course-info-->
        </div>
        <!-- end courses-->

    </div>
</header>