<header class="ps-feature-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">Learn</h1>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1>My Current Courses<hr></h1>
                <br>
            </div>

            <div class="row ps-text-content">
                <!-- start course -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                        <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                        <br>
                        <!-- Topic -->
                        <h3 class="ps-feature-info-header"> Topics <hr></h3>
                        <p class="ps-feature-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <div>
                            <div class="center">
                                <a class="button fadein btn-read-more" id="button-learn" href=""><span>Learn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1> My Past Courses<hr></h1>
                <br>
            </div>

            <div class="row ps-text-content">
                <!-- start course -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                        <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                        <!-- Topic -->
                        <h3 class="ps-feature-info-header"> Topics <hr></h3>
                        <p class="ps-feature-preview">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <div>
                            <div class="center">
                                <a class="button fadein btn-read-more" id="button-learn" href=""><span>Learn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>
    </div>
</header>