<header class="ps-feature-header">
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <h1>Course Title<hr></h1>
                <br>
            </div>
        </div>

        <!-- end article info -->
        <div class="row ps-text-content">

            <div class="col-lg-3 ps-col-right">
                <div class="ps-well">
                    <div class="center"><a class="button-enroll button fadein" id="button-evaluation" href=""><span> Daily Evaluation</span></a></div>
                    <div class="center"><a class="button-enroll button fadein" id="button-my-progress" href=""><span> View My Progress</span></a></div>
                    <div class="center"><a class="button-enroll button fadein" id="button-videos" href=""><span> Videos</span></a></div>
                    <div class="center"><a class="button-enroll button fadein" id="button-forum" href=""><span> Forum</span></a></div>
                    <div class="center"><a class="button-enroll button fadein" id="button-survey" href=""><span> Survey</span></a></div>
                    <br>
                </div>
            </div>
            <div class="col-lg-9 ps-col-left">
                <div class="ps-well">
                    <div class="center">
                        <img class="ps-feature-img img-responsive" src="http://placehold.it/900x300" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- end article-content -->
        <!-- end row artcile -->

        <!-- Social -->
    </div>
    <!-- article-content-->
</header>