<div class="col-lg">
    <div class="ps-well">
        <h2>Percentage Through Course<hr></h2>
        <div class="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Progressbar90.png" height="260" width="260"></div>
    </div>
</div>
<br>
<div class="col-lg-8 ps-col-left">
    <div class="col-lg">
        <div class="ps-well">
            <h2>Overall Goal Progress<hr></h2>
            <div class="center">
                <img src="http://cssglobe.com/lab/csslinegraph/img.gif" alt="Smiley face">
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg">
        <div class="ps-well">
            <h2>Goal Progress by Week<hr></h2>
            <!-- Start Weekl Progress -->
            <div class="col-lg">
                <div class="ps-well">
                    <h2>Week 1<hr></h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="ps-well">
                                <div class="center">
                                    <img src="http://cssglobe.com/lab/csslinegraph/img.gif" alt="Smiley face">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ps-well">
                                <h3>Plan<hr></h3>
                                <p>Cue: [Go to Library] </p>
                                <p>Routine: [Study for 3 hours per day]</p>
                                <p>Reward: [Candy from the Trolley] </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Week Progress -->

        </div>
    </div>
</div>
<div class="col-lg-4 ps-col-right">
    <div class="col-lg">
        <div class="ps-well">
            <h2>Current Plan<hr></h2>

            <h3>Cue:</h3>
            <p> [Go to Library] </p>

            <h3>Routine: </h3>
            <p> [Study for 3 hours per day]</p>

            <h3>Reward: </h3>
            <p> [Candy from the Trolley] </p>

        </div>
    </div>
    <br>
    <div class="col-lg">
        <div class="ps-well">
            <h2>Statistics [Me / Community]<hr></h2>

            <h3>Daily Evaluations:</h3>
            <p>5 / 10</p>

            <h3>Positive Cues: </h3>
            <p> 3 / 12</p>

            <h3>Negative Cues: </h3>
            <p> 3 / 12 </p>

        </div>
    </div>

</div>