<header class="ps-feature-header">
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <h1>Course Title<hr></h1>
                <br>
            </div>
        </div>
        <div class="row ps-text-content">
            <div class="col-lg-2 ps-col-right">
                <div class="ps-well">
                    <%@include file="learn-sidebar.html"%>
                </div>
            </div>
            <div class="col-lg-10 ps-col-left">
                <!-- start video -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <h2>Dog of Wisdom<hr> </h2>
                        <div class="center">
                            <iframe class="ps-video" width=100% height=auto src="https://www.youtube.com/embed/D-UmfqFjpl0" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
                <!-- End video -->
            </div>
        </div>
    </div>
</header>