<div class="center"><a class="button-enroll button fadein" id="button-my-progress" href=""><span>My Progress</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-evaluation" href=""><span> My Habit</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-evaluation" href=""><span> My Cues</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-evaluation" href=""><span> Daily Evaluation</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-videos" href=""><span> Videos</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-forum" href=""><span> Forum</span></a></div>
<div class="center"><a class="button-enroll button fadein" id="button-survey" href=""><span> Survey</span></a></div>
<br>