<ul class="nav nav-tabs">
    <li class="active" id="nav-learn-progress"><a href="${contextPath}/learn/${courseKey}" >Home</a></li>
    <li id="nav-learn-habit"><a href="${contextPath}/learn/${courseKey}/habit" >Habit Loop</a></li>
    <li id="nav-learn-cues"><a href="${contextPath}/learn/${courseKey}/cues" >Cues</a></li>
    <li id="nav-learn-evaluations"><a href="${contextPath}/learn/${courseKey}/evaluation" >Daily Evaluations</a></li>
    <li id="nav-learn-videos"><a href="${contextPath}/learn/${courseKey}/videos" >Videos</a></li>
    <li id="nav-learn-forum"><a href="${contextPath}/learn/${courseKey}/forum" >Forum</a></li>
</ul>