<h2>To Do:<hr></h2>
<h3>Nothing to do!</h3>
<!-- Do Daily Evaluation -->
<div class="center"><a class="button-enroll button fadein" id="button-evaluation" href="${contextPath}/learn/${courseKey}/evaluation"><span>Complete Daily Evaluation!</span></a></div>
<!-- Do Survey -->
<div class="center"><a class="button-enroll button fadein" id="button-survey" href="${contextPath}/learn/${courseKey}/survey"><span>Complete Survey!</span></a></div>
<!-- Set Goal -->
<div class="center"><a class="button-enroll button fadein" id="button-goal" href="${contextPath}/learn/${courseKey}/habit"><span>Set Routine!</span></a></div>