<!-- Start -->
<div class="col-lg">
    <div class="ps-well">
        <div class="row">
            <div class="col-lg-6">
                <div class="ps-well">
                    <h1>Negative<hr></h1>
                    <h2>[Load Negative] </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-well">
                    <h1>Positive<hr></h1>
                    <h2>[Load Positive]</h2>
                </div>
            </div>
        </div>
    </div>
</div>