<header class="ps-feature-header">
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <h1>Course Title<hr></h1>
                <br>
            </div>
        </div>
        <div class="row ps-text-content">
            <div class="col-lg-2 ps-col-right">
                <div class="ps-well">
                    <%@include file="learn-sidebar.html"%>
                </div>
            </div>
            <div class="col-lg-10 ps-col-leftt">
                <div class="col-lg">
                    <div class="ps-well">
                        <h2>Time Management Survey<hr> </h2>
                        <br>
                        <br>
                        <!-- Form Start -->
                        <form class="ps-all-questions">
                            <!-- Question Start -->
                            <div class="ps-question">
                                <!-- Question Text -->
                                <h3>Do you have difficulty thinking about the future (in at least a month) and setting goals?</h3>
                                <div class="ps-answers">
                                    <!-- Answer Start -->
                                    <div class="ps-answer">
                                        <!-- Answer Button -->
                                        <!-- Set "id" equal to answer ID -->
                                        <!-- Set "name" equal to qustion ID -->
                                        <input id='radio-1' type="radio" name='r-group-1' />
                                        <!-- Answer Text -->
                                        <!-- Set "for" equal to answer ID -->
                                        <label for="radio-1">I believe I can fly</label>
                                    </div>
                                    <!-- Answer End-->
                                    <!-- Answer Start -->
                                    <div class="ps-answer">
                                        <!-- Answer Button -->
                                        <input id='radio-2' type="radio" name='r-group-1' />
                                        <!-- Answer Text -->
                                        <label for="radio-2">I believe I can fly</label>
                                    </div>
                                    <!-- Answer End-->
                                    <!-- Answer Start -->
                                    <div class="ps-answer">
                                        <!-- Answer Button -->
                                        <input id='radio-3' type="radio" name='r-group-1' />
                                        <!-- Answer Text -->
                                        <label for="radio-3">I believe I can fly</label>
                                    </div>
                                    <!-- Answer End-->
                                </div>
                            </div>
                            <!-- Question End -->
                            <div class="center">
                                <button type="button" class="button" disabled><span>Submit Survey</span></button>
                            </div>
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>