<header class="ps-feature-header">
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Course Title -->
                <h1>Course Title<hr></h1>
                <br>
            </div>
        </div>
        <div class="row ps-text-content">
            <div class="col-lg-2 ps-col-right">
                <div class="ps-well">
                    <!-- Learn Sidebar -->s
                    <%@include file="learn-sidebar.html"%>
                </div>
            </div>
            <div class="col-lg-10 ps-col-left">
                <!-- Start video -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <!-- Video Title -->
                        <h2>Video Title<hr> </h2>
                        <div class="center">
                            <!-- Video Link - change src url -->
                            <iframe class="ps-video" width=100% height=auto src="url" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
                <!-- End video -->
            </div>
        </div>
    </div>
</header>