<!-- Start -->
<div class="col-lg ps-col-right">
    <div class="row">
        <div class="col-lg-12">
            <div class="ps-well">
                <h1>Set Goal:<hr></h1>
                <div class="center">
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Set Goal</button>
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Change Goal</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="ps-well">
                <h1>Cue:<hr></h1>
                <h2>[Go to Library] </h2>
                <div class="center">
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Set Cue</button>
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Change Cue</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ps-well">
                <h1>Routine:<hr></h1>
                <h2>[Study 3 hours per day]</h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ps-well">
                <h1>Reward:<hr></h1>
                <h2>[Candy from the Trolley] </h2>
                <div class="center">
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Set Reward</button>
                    <button type="button" class="btn-comment btn btn-primary btn-comment-edit">Change Reward</button>
                </div>
            </div>
        </div>
    </div>
</div>