<header class="ps-feature-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">News</h1>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1>Featured Article<hr></h1>
                <br>
            </div>
                <div class="ps-well">
                    <p><span class="glyphicon glyphicon-time"></span> Posted on March 31, 2017 at 12:00 AM</p>

                    <h1>Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit<hr></h1>
                    <br>

                    <div class="col-lg-8 ps-col-left">
                        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                        <br>
                        <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>

                    </div>
                    <div class="col-lg-4 ps-col-right">
                        <div class="media ps-comment">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>


                            <div class="center">
                                <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="ps-feature-content">
        <div class="row ps-feature">
            <div class="ps-feature-info">
                <!-- Title -->
                <h1>All Articles<hr></h1>
                <br>
            </div>

            <div class="row ps-text-content">
                <!-- start course -->
                <div class="col-lg-4">
                    <div class="ps-well">
                        <p><span class="glyphicon glyphicon-time"></span> Posted on March 31, 2017 at 12:00 AM</p>

                        <h2 class="ps-feature-info-header"> Being a Better You<hr> </h2>
                        <img class="img-responsive course-img" src="http://placehold.it/900x300" alt="">
                        <br>
                        <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>


                        <div class="center">
                            <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <!-- End course -->
            </div>
        </div>
    </div>
</header>