<header class="news-header">
    <div class="center page-banner">
        <img class="img-responsive" src="http://placehold.it/2000x500" alt="">
        <h1 class="absolute-text">News</h1>
    </div>
    <div class="news-content">
        <!--<div class="page-title fadein"><h1>NEWS</h1><hr></div> -->
        <div class="section-title fadein">
            <h2>Featured Article</h2>
            <hr>
        </div>
        <div class="row articles">
            <div class="row article-info2 fadein">
                <div class="row article-title">
                    <h1>Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit </h1></div>
                <div class="col-lg-4">
                    <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on March 31, 2017 at 12:00 AM</p>

                </div>
                <div class="col-lg-8">
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <p class="article-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                    <div class="center">
                        <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-title fadein">
            <h2>All Articles</h2>
            <hr>
        </div>
        <div class="row articles">
            <div class="article-info fadein">
                <div class="row article-title">
                    <h1>Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit </h1>
                    <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>
                    <p><span class="glyphicon glyphicon-time"></span> March 31, 2017 at 12:00 AM</p>
                </div>
                <div class="row">
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <p class="article-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                </div>
            </div>
            <!-- end article-info-->
            <div class="article-info fadein">
                <div class="row article-title">
                    <h1>Article Title</h1>
                    <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>
                    <p><span class="glyphicon glyphicon-time"></span> March 31, 2017 at 12:00 AM</p>
                </div>
                <div class="row">
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <p class="article-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore...</p>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                </div>
            </div>
            <!-- end article-info-->
            <div class="article-info fadein">
                <div class="row article-title">
                    <h1>Article Title</h1>
                    <p> by <a class="button fadein" href="#"><span>Article Author</span></a> </p>
                    <p><span class="glyphicon glyphicon-time"></span> March 31, 2017 at 12:00 AM</p>
                </div>
                <div class="row">
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <p class="article-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore..</p>
                </div>
                <div class="center">
                    <a class="button fadein btn-read-more" id="button-register" href=""><span>Read More</span></a>
                </div>
            </div>
            <!-- end article-info-->
        </div>
    </div>
</header>